@model ProjetoLocadoraDeVeiculos.Models.Locacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Locação</h4>
<hr />

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemErro2"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        @TempData["MensagemErro2"]
    </div>
}
@if (TempData["MensagemErro3"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        @TempData["MensagemErro3"]
    </div>
}
@if (TempData["MensagemErro4"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        @TempData["MensagemErro4"]
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.VeiculoId"></select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusLocacaoId" class="control-label"></label>
                <select asp-for="StatusLocacaoId" class="form-control" asp-items="ViewBag.StatusLocacaoId"></select>
                <span asp-validation-for="StatusLocacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporadaId" class="control-label"></label>
                <select asp-for="TemporadaId" class="form-control" asp-items="ViewBag.TemporadaId">
                </select>
                <span asp-validation-for="TemporadaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desconto" class="control-label"></label>
                <input asp-for="Desconto" class="form-control"/>
                <span asp-validation-for="Desconto" class="text-danger"></span>
            
            @if (Model.StatusLocacao.Id != 2 || TempData["MensagemErro"] != null)
            {
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Salvar</button>
                </div>
            }
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Locação</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Caso a data de entrega tenha sido alterada, o sistema vai considerar como uma renovação!</p>
                            <p>Deseja continuar?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                            <input type="submit" value="Salvar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
<br />

@if (Model.StatusLocacao.Id == 2)
{
    <h5 class="flex-nowrap">Locações finalizadas não podem ser editadas!</h5>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


