@model ProjetoLocadoraDeVeiculos.Models.Veiculo

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Veículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaVeiculoId" class="control-label"></label>
                <select asp-for="CategoriaVeiculoId" class="form-control" asp-items="ViewBag.CategoriaVeiculoId"></select>
                <span asp-validation-for="CategoriaVeiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusVeiculoId" class="control-label"></label>
                <select asp-for="StatusVeiculoId" class="form-control" asp-items="ViewBag.StatusVeiculoId"></select>
                <span asp-validation-for="StatusVeiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDiaria" class="control-label"></label>
                <input asp-for="ValorDiaria" class="form-control" />
                <span asp-validation-for="ValorDiaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMultaFixa" class="control-label"></label>
                <input asp-for="ValorMultaFixa" class="form-control" />
                <span asp-validation-for="ValorMultaFixa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMultaDiaria" class="control-label"></label>
                <input asp-for="ValorMultaDiaria" class="form-control" />
                <span asp-validation-for="ValorMultaDiaria" class="text-danger"></span>
            </div>
            @if (Model.StatusVeiculo.Id != 2)
            {
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            }
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
<br />
@if (Model.StatusVeiculo.Id == 2)
{
    <h5 class="flex-nowrap">Veículos com status 'Alugado' não podem ser editados!</h5>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
