@{
    ViewData["Title"] = "Página Inicial";
}
<div class="container flex-column align-items-center">

    <br />
    <br />
    <div class="logo">
        <img src="../image/logoLocVec.png" alt="LOCVEC - Locadora de Veículos" />
    </div>
    <br />
    <div class="text-center">
        <h1 class="display-4 text-uppercase fs-3">Bem-vindo(a) ao meu projeto de locadora de veículos!</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-center">
        <a class="btn btn-outline-dark" asp-action="Sobre">Sobre a aplicação</a>
    </div>
    <br />
    <br />
</div>