@{
    ViewData["Title"] = "Erro Referêncial";
}

<h1>Erro!</h1>
<br />
<h3>A categoria que está tentando apagar está vinculada a um ou mais veículos!</h3>
<br />
<br />
<div>
    <a asp-controller="CategoriaVeiculos" asp-action="Index">Voltar</a>
</div>
