@{
    ViewData["Title"] = "Erro Referêncial";
}

<h1>Erro!</h1>
<br />
<h3>A temporada que está tentando apagar está vinculada a uma ou mais locações!</h3>
<br />
<br />
<div>
    <a asp-controller="Temporadas" asp-action="Index">Voltar</a>
</div>