@{
    ViewData["Title"] = "Erro Referêncial";
}

<h1>Erro!</h1>
<br />
<h3>O status de veículo que está tentando apagar está vinculado a um ou mais veículos!</h3>
<br />
<br />
<div>
    <a asp-controller="Veiculos" asp-action="Index">Voltar</a>
</div>